// src/css/quasar.variables.sass

$primary   : #ff5252
$secondary : #455a64
$accent    : #ffc107

$dark      : #212121
$dark-page : #263238

$positive  : #00e676
$negative  : #f44336
$info      : #2196f3
$warning   : #ff9800